footer{
    margin-top: 100px;
}
.footer-content{
    display: flex;
    justify-content: space-between;
}
.footer-spec_title{
    font-weight: bold;
    font-size: 20px;
    color: #AB00EA;
    margin-bottom: 24px;
}
.footer-spec_item{
    font-size: 18px;
    margin-top: 18px;
}
.footer-spec_item:first-child{
    margin: 0;
}
.footer-spec_items{
    display: flex;
}
.footer-spec_items-content{
    margin-right: 40px;
}
.footer-spec_items-content:last-child{
    margin: 0;
}
.footer-social{
    display: flex;
    flex-direction: column;
}
.footer-social_licence{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-social_licence span{
    font-size: 18px;
}
.footer-social_item{
    display: flex;
    flex-direction: column;
    text-align: right;
    font-size: 18px;
}
.footer-social_links{
    margin-top: 26px;
}
.footer-social_links img{
    width: 32px;
    margin-right: 16px;
}
.footer-credits{
    text-align: center;
    margin-top: 50px;
}
.footer-credits p:nth-child(1){
    font-size: 20px;
}
.footer-credits p:nth-child(2){
    margin-top: 10px;
    font-size: 16px;
}
.footer-spec_items-content{
    display: flex;
    flex-direction: column;
}